<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email Addresses</title>
</head>
<body>
        <h1>Email Verification Page</h1>

    <h2>Check Email Address</h1>
    <form action = "index" method = "post">
        {% csrf_token %}
        {{form }}
        <input type="submit" value="Verify Email Address">
    </form>
    <br>
    {{results}}

    <!-- <h1> Check Multiple Addresses</h1>
    
    <form action = "" method = "">
        {% csrf_token %}
        {{multipleEmailForm.as_p }}
        <input type="submit" value="Verify All Email Address">
    </form>
    <br>
    {{results}} -->

</body>
</html>
